body{
    background-color: burlywood;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    display: inline;
}

nav a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column: 2/3;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/3;
}