body{
    background-color: burlywood;  
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
}

nav ul li{
    display: inline;
    margin-right: 40px;
}

nav a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    background-color: white;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.wrapper .div1{
    grid-column: 3/5;
    grid-row: 1/3;
}

.wrapper .img1{
    grid-column: 1/3;
    grid-row: 1/3;
}

.wrapper .div2{
    grid-column: 1/3;
    grid-row: 3/4;
}
.wrapper .img2{
    grid-column: 3/5;
    grid-row: 3/5;
}

.wrapper .div3{
    grid-column: 2/4;
    grid-row: 5/6;
    justify-self: center;
}

#pb2{
    padding-bottom: 50px;
}

.wrapper2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: solid 1px black;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    grid-gap: 50px;
}

.wrapper2 #machine{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

.wrapper2 .costs{
    grid-column: 1/2;
    grid-row: 1/2;
}

.wrapper2 #printout{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
}

.wrapper2 .overlay{
    grid-column: 2/3;
    grid-row: 2/3;
}

.costs a button{
    display: block;
    margin: 0 auto;
}

ul li, h1, h2, h3, h4, p{
    text-align: center;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: solid black 1px;
    padding-top: 50px;
}

footer h2{
    grid-column: 2/3;
    grid-row: 1/2;
}

footer ul{
    grid-column: 2/3;
    grid-row: 2/3;
    list-style-type: none;
}