body{
    background-color: burlywood;  
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
}

nav ul li{
    display: inline;
    margin-right: 40px;
}

nav a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.wrapper .div1{
    grid-column: 3/4;
    grid-row: 1/2;
}

.wrapper .div2{
    grid-column: 2/3;
    grid-row: 2/3;
}

.wrapper .div3{
    grid-column: 2/4;
    grid-row: 3/4;
    justify-self: center;
}

ul li, h1, h2, h3, h4, p{
    text-align: center;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer h2{
    grid-column: 2/3;
    grid-row: 1/2;
}

footer ul{
    grid-column: 2/3;
    grid-row: 2/3;
    list-style-type: none;
}