<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pofu Photography</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html"><img src="../images/logo.png" style="width:20%"></a></li>
                <li><a href="photobooth.html">Photo Booth</a></li>
                <li><a href="photography.html">Photography</a></li>
                <li><a href="https://pofuphotos.smugmug.com/Client-Photos-">Gallery</a></li>
                <li><a href="contact.php">Contact Us</a></li>
                <li><a href="documentation.html">Documentation</a></li>
                <li><a href="sources.html">Sources</a></li>
            </ul>
        </nav>
    </header>
    <h1>How to use this Website:</h1>
    <h3>Navigation Bar</h3>
    <p>To use the navigation bar, you can just click on the different pages to access them, and if you want to go back to 
        the main page, just click on the pofu icon.</p>
    <h3>Home Page</h3>
    <p>As you start on the home page, you will see a nav bar above. On the home page, you see a slideshow with
        images and photo examples of what the service will look like. As you scroll down, you see more information 
        about Pofu Photography and its photography business such as the cost of renting a photobooth and the different 
        features that we offer. Lastly, on the footer, you have links that will direct you towards our social pages.</p>
    <h3>The Photo Booth Page</h3>
    <p>The photo booth page contains </p>
    <footer>
        <h2>Photo Booth & Event Photography</h2>
        <ul>
            <li><a href="mailto:keith@pofuphotography.com">keith@pofuphotography.com</a></li><br>
            <li><a href="tel:604-799-4901">(604)799.4901</a></li><br>
            <li><a href="www.instagram.com/pofuphotography/">Instagram</a></li><br>
            <li><a href="contact.php"><button class="order" id="order">Contact Us!</button></a></li><br>
            <li><p>New Westminster, BC, Canada</p></li>
        </ul>
    </footer>
</body>
</html>