<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pofu Photography</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html"><img src="../images/logo.png" style="width:20%"></a></li>
                <li><a href="photobooth.html">Photo Booth</a></li>
                <li><a href="photography.html">Photography</a></li>
                <li><a href="https://pofuphotos.smugmug.com/Client-Photos-">Gallery</a></li>
                <li><a href="contact.php">Contact Us</a></li>
                <li><a href="documentation.html">Documentation</a></li>
                <li><a href="sources.html">Sources</a></li>
            </ul>
        </nav>
    </header>
    <div class="photography">
        <img src="../images/header.webp" id="header" alt="Wedding Photo Header">
        <div class="text">
            <h1>Photography</h1>
            <h3>Conferences</h3>
            <h3>Holiday Parties </h3>
            <h3>Galas</h3>
            <h3>Birthdays</h3>
            <h3>Receptions</h3>
            <p>Specializing in Event Photography for over 7 years and covering all types of events from small intimate private birthday parties to large scale 300+ guest conferences and galas. 
                We strive to capture all the meaningful and candid moments to allow for our clients to relive and share the experience they created.</p>
        </div>
        <img src="../images/juno.webp" id="juno" alt="Picture of Woman Holding Juno Sign">
        <img src="../images/pricing.jpeg" id="pricing" alt="Picture of Woman presenting">
    </div>
    
    <footer>
        <h2>Photo Booth & Event Photography</h2>
        <ul>
            <li><a href="mailto:keith@pofuphotography.com">keith@pofuphotography.com</a></li><br>
            <li><a href="tel:604-799-4901">(604)799.4901</a></li><br>
            <li><a href="www.instagram.com/pofuphotography/">Instagram</a></li><br>
            <li><a href="contact.php"><button class="order" id="order">Contact Us!</button></a></li><br>
            <li><p>New Westminster, BC, Canada</p></li>
        </ul>
    </footer>
</body>
</html>